<div class="row text-center">
  <div class="col">
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button (click)="multiplicar()" class="btn btn-primary">Multiplicar</button>
    <button (click)="dividir()" class="btn btn-primary">Dividir</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-nieto></app-nieto>
  </div>
</div>
