<div class="row text-center">
  <div class="col">
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button (click)="reset()" class="btn btn-primary">Reset</button>
  </div>
</div>
