<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
    <button (click)="decrementar()" class="btn btn-primary">Decrementar</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-hijo></app-hijo>
  </div>
</div>
